<!DOCTYPE html>
<html>
  <head>
    <title>Advertisement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if notice.present? %>
      <%= notice %>
    <% end %>
    <%= yield %>
  </body>
</html>
